<%- model_class = App -%>
<div class="page-header">
  <h1><%=t '.title', :default => App %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:appstore_url) %></th>
      <th><%= model_class.human_attribute_name(:googleplay_url) %></th>
      <th><%= model_class.human_attribute_name(:amazon_url) %></th>
      <th><%= model_class.human_attribute_name(:hub_url) %></th>
      <th><%= model_class.human_attribute_name(:appstore_category) %></th>
      <th><%= model_class.human_attribute_name(:googleplay_category) %></th>
      <th><%= model_class.human_attribute_name(:amazon_category) %></th>
      <th><%= model_class.human_attribute_name(:site_url) %></th>
      <th><%= model_class.human_attribute_name(:contact_email) %></th>
      <th><%= model_class.human_attribute_name(:app_plan) %></th>
      <th><%= model_class.human_attribute_name(:logo_url) %></th>
      <th><%= model_class.human_attribute_name(:appicon_url) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:app_rating) %></th>
      <th><%= model_class.human_attribute_name(:app_price) %></th>
      <th><%= model_class.human_attribute_name(:app_availability) %></th>
      <th><%= model_class.human_attribute_name(:keywords) %></th>
      <th><%= model_class.human_attribute_name(:app_version) %></th>
      <th><%= model_class.human_attribute_name(:copyright) %></th>
      <th><%= model_class.human_attribute_name(:appstore_category2) %></th>
      <th><%= model_class.human_attribute_name(:theme_color) %></th>
      <th><%= model_class.human_attribute_name(:rss_feed_url) %></th>
      <th><%= model_class.human_attribute_name(:ga_app_id) %></th>
      <th><%= model_class.human_attribute_name(:ga_hub_id) %></th>
      <th><%= model_class.human_attribute_name(:blog_url) %></th>
      <th><%= model_class.human_attribute_name(:facebook_url) %></th>
      <th><%= model_class.human_attribute_name(:twitter_url) %></th>
      <th><%= model_class.human_attribute_name(:instagram_url) %></th>
      <th><%= model_class.human_attribute_name(:googleplus_url) %></th>
      <th><%= model_class.human_attribute_name(:linkedin_url) %></th>
      <th><%= model_class.human_attribute_name(:youtube_url) %></th>
      <th><%= model_class.human_attribute_name(:vimeo_url) %></th>
      <th><%= model_class.human_attribute_name(:pinterest_url) %></th>
      <th><%= model_class.human_attribute_name(:store_url) %></th>
      <th><%= model_class.human_attribute_name(:content_frequency) %></th>
      <th><%= model_class.human_attribute_name(:user_subscription) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.id %></td>
        <td><%= app.title %></td>
        <td><%= app.description %></td>
        <td><%= app.appstore_url %></td>
        <td><%= app.googleplay_url %></td>
        <td><%= app.amazon_url %></td>
        <td><%= app.hub_url %></td>
        <td><%= app.appstore_category %></td>
        <td><%= app.googleplay_category %></td>
        <td><%= app.amazon_category %></td>
        <td><%= app.site_url %></td>
        <td><%= app.contact_email %></td>
        <td><%= app.app_plan %></td>
        <td><%= app.logo_url %></td>
        <td><%= app.appicon_url %></td>
        <td><%= app.status %></td>
        <td><%= app.app_rating %></td>
        <td><%= app.app_price %></td>
        <td><%= app.app_availability %></td>
        <td><%= app.keywords %></td>
        <td><%= app.app_version %></td>
        <td><%= app.copyright %></td>
        <td><%= app.appstore_category2 %></td>
        <td><%= app.theme_color %></td>
        <td><%= app.rss_feed_url %></td>
        <td><%= app.ga_app_id %></td>
        <td><%= app.ga_hub_id %></td>
        <td><%= app.blog_url %></td>
        <td><%= app.facebook_url %></td>
        <td><%= app.twitter_url %></td>
        <td><%= app.instagram_url %></td>
        <td><%= app.googleplus_url %></td>
        <td><%= app.linkedin_url %></td>
        <td><%= app.youtube_url %></td>
        <td><%= app.vimeo_url %></td>
        <td><%= app.pinterest_url %></td>
        <td><%= app.store_url %></td>
        <td><%= app.content_frequency %></td>
        <td><%= app.user_subscription %></td>
        <td><%=l app.created_at, format: :long %></td>
        <td>
          <%= link_to app_path(app), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to app_path(app), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_app_path,
            :class => 'btn btn-primary' %>
