<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @app.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>Appstore url:</strong>
  <%= @app.appstore_url %>
</p>

<p>
  <strong>Googleplay url:</strong>
  <%= @app.googleplay_url %>
</p>

<p>
  <strong>Amazon url:</strong>
  <%= @app.amazon_url %>
</p>

<p>
  <strong>Hub url:</strong>
  <%= @app.hub_url %>
</p>

<p>
  <strong>Appstore category:</strong>
  <%= @app.appstore_category %>
</p>

<p>
  <strong>Googleplay category:</strong>
  <%= @app.googleplay_category %>
</p>

<p>
  <strong>Amazon category:</strong>
  <%= @app.amazon_category %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @app.site_url %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @app.contact_email %>
</p>

<p>
  <strong>App plan:</strong>
  <%= @app.app_plan %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @app.logo_url %>
</p>

<p>
  <strong>Appicon url:</strong>
  <%= @app.appicon_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @app.status %>
</p>

<p>
  <strong>App rating:</strong>
  <%= @app.app_rating %>
</p>

<p>
  <strong>App price:</strong>
  <%= @app.app_price %>
</p>

<p>
  <strong>App availability:</strong>
  <%= @app.app_availability %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @app.keywords %>
</p>

<p>
  <strong>App version:</strong>
  <%= @app.app_version %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @app.copyright %>
</p>

<p>
  <strong>User:</strong>
  <%= @app.user %>
</p>

<p>
  <strong>Appstore category2:</strong>
  <%= @app.appstore_category2 %>
</p>

<p>
  <strong>Theme color:</strong>
  <%= @app.theme_color %>
</p>

<p>
  <strong>Rss feed url:</strong>
  <%= @app.rss_feed_url %>
</p>

<p>
  <strong>Ga app:</strong>
  <%= @app.ga_app_id %>
</p>

<p>
  <strong>Ga hub:</strong>
  <%= @app.ga_hub_id %>
</p>

<p>
  <strong>Blog url:</strong>
  <%= @app.blog_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @app.facebook_url %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @app.twitter_url %>
</p>

<p>
  <strong>Instagram url:</strong>
  <%= @app.instagram_url %>
</p>

<p>
  <strong>Googleplus url:</strong>
  <%= @app.googleplus_url %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @app.linkedin_url %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @app.youtube_url %>
</p>

<p>
  <strong>Vimeo url:</strong>
  <%= @app.vimeo_url %>
</p>

<p>
  <strong>Pinterest url:</strong>
  <%= @app.pinterest_url %>
</p>

<p>
  <strong>Store url:</strong>
  <%= @app.store_url %>
</p>

<p>
  <strong>Content frequency:</strong>
  <%= @app.content_frequency %>
</p>

<p>
  <strong>User subscription:</strong>
  <%= @app.user_subscription %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
